[Unit]
Description=Run filesystem capacity checks hourly

[Timer]
OnCalendar={{ storage_capacity_monitor_timer_calendar }}
Persistent=true
RandomizedDelaySec={{ storage_capacity_monitor_randomized_delay_seconds }}
Unit={{ storage_capacity_monitor_service_name }}

[Install]
WantedBy=timers.target
