c.ServerApp.ip = "{{ dev_jupyterlab_workbench_bind_address }}"
c.ServerApp.port = {{ dev_jupyterlab_workbench_port }}
c.ServerApp.open_browser = False
c.ServerApp.allow_remote_access = True
c.ServerApp.allow_origin = "{{ dev_jupyterlab_workbench_allow_origin }}"
c.ServerApp.root_dir = "{{ dev_jupyterlab_workbench_root_dir }}"
c.ServerApp.default_url = "{{ dev_jupyterlab_workbench_default_url }}"
c.ServerApp.password = "{{ _dev_jupyterlab_workbench_resolved_password_hash }}"
c.IdentityProvider.token = ""
