[Unit]
Description={{ dev_jupyterlab_workbench_service_description }}
After=network.target

[Service]
Type=simple
User={{ dev_jupyterlab_workbench_user }}
WorkingDirectory={{ dev_jupyterlab_workbench_root_dir }}
Environment="PATH={{ dev_jupyterlab_workbench_venv_path }}/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ dev_jupyterlab_workbench_venv_path }}/bin/jupyter lab \
    --no-browser \
    --config={{ dev_jupyterlab_workbench_config_path }}
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
