PACKAGE_NAME="vgem"
PACKAGE_VERSION="{{ hyperv_ubuntu_gpu_p_linux_guest_runtime_dxgkrnl_version }}"
BUILT_MODULE_NAME="vgem"
DEST_MODULE_LOCATION="/kernel/drivers/gpu/drm/vgem/"
AUTOINSTALL="yes"
BUILD_EXCLUSIVE_KERNEL="{{ hyperv_ubuntu_gpu_p_wsl_kernel_build_exclusive_map[hyperv_ubuntu_gpu_p_linux_guest_runtime_wsl_branch] }}"
