apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-storage-network-server
spec:
  capacity:
    storage: {{ pv_capacity }}
  accessModes:
    - {{ pv_access_mode }}
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {{ storageclass_name }}
  local:
    path: {{ persistent_volume_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - "network-server-wsl"
