# Cursor Remote-SSH hosts
# Managed by Ansible role: cursor
# These entries enable Cursor Remote-SSH connections to infrastructure hosts.
{% for host in cursor_remote_ssh_hosts %}

Host {{ host.name }}
    HostName {{ host.hostname }}
    User {{ host.user }}
    Port {{ host.port }}
    IdentityFile {{ host.identity_file }}
    StrictHostKeyChecking no
{% endfor %}
