<?xml version="1.0" encoding="utf-8"?>
<Environment xmlns="http://schemas.dmtf.org/ovf/environment/1"
             xmlns:oe="http://schemas.dmtf.org/ovf/environment/1"
             xmlns:wa="http://schemas.microsoft.com/windowsazure">
  <wa:ProvisioningSection>
    <wa:Version>1.0</wa:Version>
    <LinuxProvisioningConfigurationSet xmlns="http://schemas.microsoft.com/windowsazure"
                                       xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
      <ConfigurationSetType>LinuxProvisioningConfiguration</ConfigurationSetType>
      <HostName>{{ hyperv_ubuntu_vm_hostname }}</HostName>
      <UserName>{{ hyperv_ubuntu_vm_user }}</UserName>
      <UserPassword/>
      <CustomData>{{ hyperv_ubuntu_vm_custom_data_b64 }}</CustomData>
      <DisableSshPasswordAuthentication>true</DisableSshPasswordAuthentication>
    </LinuxProvisioningConfigurationSet>
  </wa:ProvisioningSection>
</Environment>
