#cloud-config
preserve_hostname: false
hostname: {{ hyperv_ubuntu_vm_hostname }}
fqdn: {{ hyperv_ubuntu_vm_hostname }}
ssh_pwauth: false
disable_root: true
package_update: true
packages:
  - python3
  - openssh-server
users:
  - default
ssh_authorized_keys:
  - {{ controller_pub_key_content }}
runcmd:
  - [ bash, -lc, 'ip -br address || true' ]
  - [ bash, -lc, 'dhclient -r || true' ]
  - [ bash, -lc, 'dhclient -v > /var/log/hyperv-firstboot-dhclient.log 2>&1 || true' ]
  - systemctl enable ssh || true
  - systemctl restart ssh || systemctl start ssh || true
