# Managed by Ansible role codex_homelab_profiles. Do not add secrets here.
model = "{{ codex_homelab_profiles_model }}"
model_provider = "homelab-litellm"
model_catalog_json = "{{ codex_homelab_profiles_desktop_catalog_path }}"
model_reasoning_effort = "low"
model_context_window = {{ codex_homelab_profiles_context_window }}
model_auto_compact_token_limit = 10000
model_instructions_file = "{{ codex_homelab_profiles_instructions_path }}"
web_search = "disabled"

[model_providers.homelab-litellm]
name = "Homelab LiteLLM"
base_url = "{{ codex_homelab_profiles_gateway_base_url }}"
env_key = "LITELLM_API_KEY"
wire_api = "responses"
request_max_retries = 1
stream_max_retries = 1
stream_idle_timeout_ms = 120000
