---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: {{ automation_awx_name }}
spec:
  service_type: {{ automation_awx_service_type }}
{% if automation_awx_service_type == "NodePort" %}
  nodeport_port: {{ automation_awx_nodeport_port }}
{% endif %}
