[Unit]
Description=Run Grafana Loki readiness probe periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ logging_loki_readiness_monitor_interval }}
Unit=loki-readiness-check.service

[Install]
WantedBy=timers.target
