# bootstrap/local/templates/host_vars_wsl.yml.j2
# Template for WSL host_vars

physical_node: "{{ physical_node }}"
surface_type: wsl

host_ip: "{{ host_ip }}"
wsl_user: "{{ wsl_user }}"
wsl_ssh_port: {{ wsl_ssh_port }}
ansible_python_interpreter: /usr/bin/python3

wsl_distro: "{{ distro_name.stdout | default('') }}"
