#cloud-config
preserve_hostname: false
hostname: {{ multipass_ubuntu_vm_hostname }}
fqdn: {{ multipass_ubuntu_vm_hostname }}
ssh_pwauth: false
disable_root: true
package_update: true
packages:
  - python3
  - openssh-server
users:
  - default
ssh_authorized_keys:
  - {{ controller_pub_key_content }}
runcmd:
  - systemctl enable ssh || true
  - systemctl restart ssh || systemctl start ssh || true
