model = {{ codex_user_config_model | to_json }}
model_reasoning_effort = {{ codex_user_config_model_reasoning_effort | to_json }}
approval_policy = {{ codex_user_config_approval_policy | to_json }}
memories = {{ codex_user_config_memories | ternary('"true"', '"false"') }}
shell_snapshot = {{ codex_user_config_shell_snapshot | ternary('"true"', '"false"') }}

[features]
memories = {{ codex_user_config_memories | to_json }}

[desktop]
conversationDetailMode = {{ codex_user_config_desktop_conversation_detail_mode | to_json }}
ambient-suggestions-enabled = {{ codex_user_config_desktop_ambient_suggestions_enabled | to_json }}
followUpQueueMode = {{ codex_user_config_desktop_follow_up_queue_mode | to_json }}
